<div class="ui container segment padded">
    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
        <div class="header">
            Błąd 404
        </div>
        <p>Przepraszamy, niestety strona której szukasz prawdopodobnie nie istnieje lub została przeniesiona, upewnij się, że wprowadzony adres jest prawidłowy.<br>
            Jeżeli to nie jest pierwszy raz gdy widzisz ten komunikat, koniecznie poinformuj administrator'a strony o możliwym błędzie.
        </p>
        </div>
    </div>
</div>