</main><!-- end main -->

<footer>
        <div id="footer-section" class="ui inverted vertical footer segment">
                <div class="ui container center aligned">
                  <div class="ui inverted section divider"></div>
                  <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Mapa witryny</a>
                    <a class="item" href="#">Kontakt</a>
                    <a class="item" href="#">Zasady korzystania</a>
                    <a class="item" href="#">Polityka prywatności</a>
                  </div>
                  <div class="ui inverted section divider"></div>
                </div>
              </div>
            </div>
</footer>

</body><!-- end body -->