<% include ./head %>

<body> <!-- start body -->
    <header>

        <!-- Primary Menu -->
        <div id="header-menu" class="ui inverted vertical segment">
            <div class="ui inverted secondary pointing menu borderless">
                <div class="ui container">
                    <div class="item" style="padding-left: 0;">
                        <div class="ui small image">
                            <img src="/images/logo.png">
                        </div>
                        <div style="margin-left: 50px;" class="middle aligned content">
                            <div class="ui inverted secondary pointing menu borderless">

                                <a href="#" class="item active">
                                    Home
                                </a>
                                <a href="#" class="item active">
                                    Dictionary
                                </a>
                                <a href="#" class="item active">
                                    Contact
                                </a>

                            </div>
                        </div>
                    </div>
                    <div id="header-button" class="right menu ui middle aligned inverted column centered grid">
                        <div class="column">
                            <a href="#" class="ui primary button">Add word</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>

    </header>
    <main> <!-- start main -->