<% include ../partials/header %>

<div class="ui container segment">
    <h1 class="ui header">Contact
        <div class="sub header">This page contain information about contact.</div>
    </h1>

    <div class="ui three column doubling grid">
        <div class="column middle aligned">
            <h2 class="ui small right floated icon header">
                <i class="circular users icon"></i>
                Social media
            </h2>
        </div>
        <div class="column">
            <h2 class="ui center aligned icon header">
                <i class="circular outline envelope icon"></i>
                <div class="content">
                    E-mail
                    <div class="sub header">The best form to contact with us.</div>
                </div>
            </h2>
        </div>
        <div class="column middle aligned">
            <h2 class="ui small icon header">
                <i class="circular paper plane icon"></i>
                Message
            </h2>
        </div>  
    </div>
</div>

<% include ../partials/footer %>